<div class="text-center">
  <h1>Nos tarifs et nos dates</h1>
</div>
<div class="container-fluid border border-primary row align-top ">
  
  <div class="container prices row text-center justify-content-center border border-secondary col-12 col-lg-6">
    
    <div class="row no-gutters border border-warning col-12">
        <ul class="list-group col-6 pricesType">
          <li class="list-group-item">Adultes (+15 ans)</li>
          <li class="list-group-item">Enfants (+2ans)</li>
          <li class="list-group-item">Enfants (2ans et-)</li>
          <li class="list-group-item">Groupes (10 personnes et +)</li>
        </ul>
    
        <ul class="list-group col-6 pricesCount">
          <li class="list-group-item">15€</li>
          <li class="list-group-item">8€</li>
          <li class="list-group-item">Gratuit</li>
          <li class="list-group-item">12€ /pers.</li>
        </ul>
    </div>

  </div>

  <div class="container onTour text-center justify-content-center ml-auto mr-auto border border-secondary col-12 col-lg-6">

    <div class="row no-gutters border border-warning col-12">
      <ul class="list-group col-6 town">
        <li class="list-group-item">Arras</li>
        <li class="list-group-item">Lille</li>
        <li class="list-group-item">Amiens</li>
        <li class="list-group-item">Rouen</li>
        <li class="list-group-item">Caen</li>
      </ul>
    
      <ul class="list-group col-6 date">
        <li class="list-group-item">13 et 14 juillet 2019</li>
        <li class="list-group-item">20 et 21 juillet 2019</li>
        <li class="list-group-item">27 et 28 juillet 2019</li>
        <li class="list-group-item">3 et 4 août 2019</li>
        <li class="list-group-item">10 et 11 août 2019</li>
      </ul>
    </div>

  </div>

</div>
